body{
    padding: 0px;
    margin: 8px 36px;
}
#im1{
    margin: 0 25px;
}
#search{
    margin: 0 20px;
}
div{
    display: inline-block;
}
#n2{
    padding: 0 0 0 150px;
}
#dp1{
    margin: 0 px;
    padding: 0px 180px 0px 0px;
    display: inline-block;
    font-size: 20px;
    color: rgb(100, 100, 100);

}
#dp2{
    margin: 0 px;
    padding: 0px 30px 0px 0px;
    display: inline-block;
    font-size: 20px;
    color: rgb(100, 100, 100);

}
#dp3{
    margin: 0 px;
    padding: 0px 50px 0px 0px;
    display: inline-block;
    font-size: 20px;
    color: rgb(100, 100, 100);

}
p{
    display: inline-block;
}
#p3{
    display: inline-block;
    font-size: 22px;
    color: rgb(100, 100, 100);
    padding: 0 0 0 20px;

}
#p4{
    display: inline-block;
    font-size: 22px;
    color: rgb(100, 100, 100);
    padding: 0 0 0 20px;

}
#pm1{
    display: inline-block;
    font-size: 22px;
    color: rgb(100, 100, 100);
    padding: 5px 5px 0px 0px;
}
#img1{
    height: 320px;
}
#cars{
    font-size: 20px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    color: rgb(100, 100, 100);
}
.city {
    color: rgb(100, 100, 100);
    border: .5px solid rgba(0, 0, 0, 0.162);
    /* margin: 20px; */
    padding: 30px 5px 0px 5px;
    margin: -200px 129px;
    display: inline-block;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(255, 255, 255);
}
.city2 {
    color: rgb(100, 100, 100);
    border: .5px solid rgba(0, 0, 0, 0.162);
    /* margin: 20px; */
    padding: 30px 5px 0px 5px;
    margin: 20px 129px;
    display: inline-block;
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(255, 255, 255);

}
#ob1{
    display: inline-block;
    border: 2px solid rgba(178, 34, 34, 0);
    padding: 0px 90px 0px 0px;
}
#ob2{
    display: inline-block;
border: 0px solid color rgb(100, 100, 100);
    padding: 0px 40px 0px 40px;
}
#ob3{
    display: inline-block;
border: 0px solid color rgb(100, 100, 100);
    padding: 0px 0px 0px 35px;
}
#ob4{
    display: inline-block;
border: 0px solid color rgb(100, 100, 100);
    padding: 0px 0px 0px 35px;
}
#ob5{
    display: inline-block;
border: 0px solid color rgb(100, 100, 100);
    padding: 0px 0px 0px 35px;
}
#ob6{
    display: inline-block;
border: 0px solid color rgb(100, 100, 100);
    padding: 0px 0px 0px 35px;
}
#ob7{
    display: inline-block;
border: 0px solid color rgb(100, 100, 100);
    padding: 0px 0px 0px 20px;
}
.svg1{
    margin: 0px 35px;
}
#parvaz{
    display: block;
    font-size: 18px;
    color: rgb(100, 100, 100);
}
#kharegi{
    display: block;
    font-size: 18px;
    color: rgb(100, 100, 100);
}
#qatar{
    display: block;
    margin: 10px 40px;
    font-size: 18px;
    color: rgb(100, 100, 100);
}
#otobos{
    display: block;
    margin: 10px 32px;
    font-size: 18px;
    color: rgb(100, 100, 100);
}
#tor{
    display: block;
    margin: 10px 45px;
    font-size: 18px;
    color: rgb(100, 100, 100);
}
#motel{
    display: block;
    margin: 10px 45px;
    font-size: 18px;
    color: rgb(100, 100, 100);
}
#vila{
    display: block;
    margin: 10px 45px;
    font-size: 18px;
    color: rgb(100, 100, 100);
}
#cars2{
    font-size: 20px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    display: block;
    margin: 0px 20px 25px 20px;
}
#menu1{
    display: block;
    margin: 10px 20px 10px 10px;
    font-size: 20px;
    border-radius: 0px 10px 10px 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border: 0px solid rgba(0, 0, 0, 0);

}
#formtaraf1{
    border: 0px solid color rgb(100, 100, 100);
    display: block;
}
#menu{
    border: .5px solid rgba(0, 0, 0, 0.162);
    margin: 0px 20px 20px -25px;
    border-radius: 0px 10px 10px 0px;
    padding: 0px 0px 0px 0px;
}
#menu3{
    border: .5px solid rgba(0, 0, 0, 0.162);
    margin: 0px 20px 20px 20px;
    border-radius: 10px 0px 0px 10px;
    padding: 0px 0px 0px 0px;
}
#menu4{
    border: .5px solid rgba(0, 0, 0, 0.162);
    margin: 0px -10px 0px 10px;
    border-radius: 0px 10px 10px 0px;
    padding: 0px 0px 0px 0px;
}
#menu5{
    border: .5px solid rgba(0, 0, 0, 0.162);
    margin: 0px -15px 0px 10px;
    border-radius: 10px 0px 0px 10px;
    padding: 0px 0px 0px 0px;
}
#serach1{
    border: .5px solid rgba(0, 0, 0, 0.162);
    padding: 0px 30.5px 0px 30px;
    border-radius: 5px;
    background-color:#FDB713 ;
    font-size: 20px;
}