body{
    padding: 0px;
    margin: 8px 36px;
}
#im1{
    margin: 0 25px;
}
#search{
    margin: 0 20px;
}
div{
    display: inline-block;
}
#n2{
    padding: 0 0 0 150px;
}
#dp1{
    margin: 0 px;
    padding: 0px 180px 0px 0px;
    display: inline-block;
    font-size: 20px;
    color: rgb(100, 100, 100);

}
#dp2{
    margin: 0 px;
    padding: 0px 30px 0px 0px;
    display: inline-block;
    font-size: 20px;
    color: rgb(100, 100, 100);

}
#dp3{
    margin: 0 px;
    padding: 0px 50px 0px 0px;
    display: inline-block;
    font-size: 20px;
    color: rgb(100, 100, 100);

}
p{
    display: inline-block;
}
#p3{
    display: inline-block;
    font-size: 22px;
    color: rgb(100, 100, 100);
    padding: 0 0 0 20px;

}
#p4{
    display: inline-block;
    font-size: 22px;
    color: rgb(100, 100, 100);
    padding: 0 0 0 20px;

}
#pm1{
    display: inline-block;
    font-size: 22px;
    color: rgb(100, 100, 100);
    padding: 0px 5px 0px 0px;
}
#img1{
    height: 320px;
}
#cars{
    font-size: 20px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    color: rgb(100, 100, 100);
}

